# Configuration file

####################
# autodetect
####################

autodetect {
    B:autodetect.blocks.axe.enable=true
    S:autodetect.blocks.axe.prefixes=log,treeLeaves
    B:autodetect.blocks.pickaxe.enable=true
    S:autodetect.blocks.pickaxe.prefixes=ore
    B:autodetect.blocks.shovel.enable=true
    S:autodetect.blocks.shovel.prefixes=
    B:autodetect.tools.enable=true
}


####################
# blocklist
#===================
# IDs of blocks to auto-mine. Separate ids with ',' and metadata from ID with ':'.
####################

blocklist {
    # Block ids to auto-mine when using a configured axe. [default '17,18']
    S:blockList.axe=17,18

    # Block ids to auto-mine when using a configured pickaxe. [default: '14,15,16,21,24,48,56,73,74,89,129']
    S:blockList.pickaxe=14,15,16,21,24,48,56,73,74,89,129,153

    # Block ids to auto-mine when using a configured shovel. [default: '82']
    S:blockList.shovel=82
}


####################
# client
#===================
# These settings are used client side, so they have no impact on servers.
####################

client {
    # What mode should the client use when joining a game.
    # Valid modes: [default: sneak
    #   'auto' = enables on press of keybind
    #   'sneak' = enables on sneaking
    #   'no_sneak' = disables on sneaking
    S:client.preferredMode=auto
}


####################
# itemlist
#===================
# Tools to use to auto-mine with. Separate ids with ',' and metadata from ID with ':'.
####################

itemlist {
    # Item ids to use as a axe. [default '258,271,275,279,286']
    S:itemList.axe=258,271,275,279,286

    # Item ids to use as a pickaxe. [default '257,270,274,278,285']
    S:itemList.pickaxe=257,270,274,278,285

    # Item ids to use as a shovel. [default '256,269,273,277,284']
    S:itemList.shovel=256,269,273,277,284
}


####################
# limit
####################

limit {
    # Limit of blocks to be destroyed at once. Use -1 for infinite. [range: -1 to 2147483647, default: '800']
    I:limit.blocks=800

    # Maximum number of blocks to be removed per game tick (1/20 seconds). Using a low number will keep the game from getting huge performance drops but also decreases the speed at which blocks are destroyed. [range: 1 ~ 1000, default: 10]
    I:limit.blocksPerTick=10

    # Maximum distance from the first block to search for blocks to destroy. [range: -1 to 1000, default: '20]
    I:limit.radius=20
}


####################
# misc
####################

misc {
    # Block IDs (with metadata) to consider equivalent.
    # Separate block IDs from metadata with ':'. Separate blocks with '='. Separate groups with ','
    # [default: '73:0-74:0,17:0-17:4-17:8,17:1-17:5-17:9,17:2-17:6-17:10,17:3-17:7-17:11']
    S:equalBlocks=73:0=74:0,17:0=17:4=17:8,17:1=17:5=17:9,17:2=17:6=17:10,17:3=17:7=17:11
}


####################
# overrides
####################

overrides {
    # Mine all blocks with all registered tools that can harvest blocks.
    B:override.allBlocks=true

    # Allow all tools, including the open hand, to be used to mine blocks.
    B:override.allTools=false
}


